<a href="https://colab.research.google.com/github/siddartharaj06/PDS_2303A51917_Batch-07/blob/main/Lab_5_04_sept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Merge Product and Sales Datasets and Compute Aggregate
Statistics Using pandas**<br>
• Objective:<br>
• Learn how to merge product and sales data to analyze
business performance and compute useful insights.<br>
• Requirements:<br>
• Create/import two datasets (Products and Sales).<br>
• Merge them using product_id.<br>
• Perform inner and outer joins.<br>
• Compute statistics like total revenue, average price, and
product-wise sales.<br>
• Group by product category and find best-selling category.<br>
• Deliverables:<br>
• Python code for dataset creation, merging, and statistics.<br>
• Outputs showing merged dataset and analysis.<br>
• Discussion of key insights (e.g., which product/category
contributes most revenue).<br>

Step 1: Create Sample Datasets

In [ ]:
import pandas as pd

# Product dataset
products = pd.DataFrame({
    "product_id": [101, 102, 103, 104, 105],
    "product_name": ["Laptop", "Smartphone", "Headphones", "Tablet", "Smartwatch"],
    "category": ["Electronics", "Electronics", "Accessories", "Electronics", "Wearables"],
    "price": [80000, 30000, 2000, 25000, 15000]
})

# Sales dataset
sales = pd.DataFrame({
    "sale_id": [1, 2, 3, 4, 5, 6, 7],
    "product_id": [101, 102, 103, 104, 102, 105, 103],
    "quantity": [5, 10, 20, 7, 8, 12, 15]
})

In [ ]:
print(products)

   product_id product_name     category  price
0         101       Laptop  Electronics  80000
1         102   Smartphone  Electronics  30000
2         103   Headphones  Accessories   2000
3         104       Tablet  Electronics  25000
4         105   Smartwatch    Wearables  15000

In [ ]:
print(sales)

   sale_id  product_id  quantity
0        1         101         5
1        2         102        10
2        3         103        20
3        4         104         7
4        5         102         8
5        6         105        12
6        7         103        15

Step 2: Merge Using product_id

In [ ]:
# Inner Join (only matching product_ids)
inner_merged = pd.merge(sales, products, on="product_id", how="inner")

# Outer Join (all records from both datasets)
outer_merged = pd.merge(sales, products, on="product_id", how="outer")

print("Inner Join:\n", inner_merged, "\n")
print("Outer Join:\n", outer_merged)

Inner Join:
    sale_id  product_id  quantity product_name     category  price
0        1         101         5       Laptop  Electronics  80000
1        2         102        10   Smartphone  Electronics  30000
2        3         103        20   Headphones  Accessories   2000
3        4         104         7       Tablet  Electronics  25000
4        5         102         8   Smartphone  Electronics  30000
5        6         105        12   Smartwatch    Wearables  15000
6        7         103        15   Headphones  Accessories   2000

Outer Join:
    sale_id  product_id  quantity product_name     category  price
0        1         101         5       Laptop  Electronics  80000
1        2         102        10   Smartphone  Electronics  30000
2        5         102         8   Smartphone  Electronics  30000
3        3         103        20   Headphones  Accessories   2000
4        7         103        15   Headphones  Accessories   2000
5        4         104         7       Tablet  Electronics  25000
6        6         105        12   Smartwatch    Wearables  15000

Step 3: Compute Aggregate Statistics

In [ ]:
# Add revenue column
inner_merged["revenue"] = inner_merged["price"] * inner_merged["quantity"]

# Total revenue
total_revenue = inner_merged["revenue"].sum()

# Average price
average_price = inner_merged["price"].mean()

# Product-wise sales (total quantity sold per product)
product_sales = inner_merged.groupby("product_name")["quantity"].sum()

# Product-wise revenue
product_revenue = inner_merged.groupby("product_name")["revenue"].sum()

In [ ]:
print("Total Revenue:", total_revenue)
print("\nAverage Price:", average_price)
print("\nProduct-wise Sales:\n", product_sales)
print("\nProduct-wise Revenue:\n", product_revenue)

Total Revenue: 1365000

Average Price: 26285.714285714286

Product-wise Sales:
 product_name
Headphones    35
Laptop         5
Smartphone    18
Smartwatch    12
Tablet         7
Name: quantity, dtype: int64

Product-wise Revenue:
 product_name
Headphones     70000
Laptop        400000
Smartphone    540000
Smartwatch    180000
Tablet        175000
Name: revenue, dtype: int64

Step 4: Group by Category

In [ ]:
# Category-wise revenue
category_revenue = inner_merged.groupby("category")["revenue"].sum()

# Find best-selling category
best_category = category_revenue.idxmax()
best_category_revenue = category_revenue.max()

print("Category Revenue:\n", category_revenue)
print("\nBest-Selling Category:", best_category, "with revenue:", best_category_revenue)

Category Revenue:
 category
Accessories      70000
Electronics    1115000
Wearables       180000
Name: revenue, dtype: int64

Best-Selling Category: Electronics with revenue: 1115000

Merge Teachers and Courses Datasets and Compute
Aggregate Statistics<br>
• Objective:<br>
• Understand how to merge teacher and course datasets to<br>
analyze workload distribution and compute teaching
statistics.<br>
• Requirements:<br>
• Create two datasets (Teachers and Courses).<br>
• Merge on teacher_id.<br>
• Perform inner and left joins.<br>
• Compute average courses per teacher.<br>
• Group by department and calculate total workload.<br>
• Deliverables:<br>
• Python code to create, merge, and analyze datasets.<br>
• Output tables showing merged dataset and computed stats.<br>
• Discussion on teacher workload and department-wise
distribution.

Step 1: Create Sample Datasets

In [ ]:
import pandas as pd

# Teachers dataset
teachers = pd.DataFrame({
    "teacher_id": [1, 2, 3, 4],
    "teacher_name": ["Dr. Sharma", "Prof. Verma", "Dr. Khan", "Dr. Mehta"],
    "department": ["Computer Science", "Mathematics", "Physics", "Computer Science"]
})

# Courses dataset
courses = pd.DataFrame({
    "course_id": [101, 102, 103, 104, 105, 106, 107],
    "course_name": ["AI", "Data Structures", "Calculus", "Quantum Physics",
                    "Machine Learning", "Algebra", "Operating Systems"],
    "teacher_id": [1, 1, 2, 3, 1, 2, 4]
})

In [ ]:
print(teachers)

   teacher_id teacher_name        department
0           1   Dr. Sharma  Computer Science
1           2  Prof. Verma       Mathematics
2           3     Dr. Khan           Physics
3           4    Dr. Mehta  Computer Science

In [ ]:
print(courses)

   course_id        course_name  teacher_id
0        101                 AI           1
1        102    Data Structures           1
2        103           Calculus           2
3        104    Quantum Physics           3
4        105   Machine Learning           1
5        106            Algebra           2
6        107  Operating Systems           4

Step 2: Merge on teacher_id

In [ ]:
# Inner Join (only teachers with assigned courses)
inner_merge = pd.merge(courses, teachers, on="teacher_id", how="inner")

# Left Join (all teachers, even if no assigned course)
left_merge = pd.merge(teachers, courses, on="teacher_id", how="left")

print("Inner Join:\n", inner_merge, "\n")
print("Left Join:\n", left_merge)

Inner Join:
    course_id        course_name  teacher_id teacher_name        department
0        101                 AI           1   Dr. Sharma  Computer Science
1        102    Data Structures           1   Dr. Sharma  Computer Science
2        103           Calculus           2  Prof. Verma       Mathematics
3        104    Quantum Physics           3     Dr. Khan           Physics
4        105   Machine Learning           1   Dr. Sharma  Computer Science
5        106            Algebra           2  Prof. Verma       Mathematics
6        107  Operating Systems           4    Dr. Mehta  Computer Science

Left Join:
    teacher_id teacher_name        department  course_id        course_name
0           1   Dr. Sharma  Computer Science        101                 AI
1           1   Dr. Sharma  Computer Science        102    Data Structures
2           1   Dr. Sharma  Computer Science        105   Machine Learning
3           2  Prof. Verma       Mathematics        103           Calculus
4           2  Prof. Verma       Mathematics        106            Algebra
5           3     Dr. Khan           Physics        104    Quantum Physics
6           4    Dr. Mehta  Computer Science        107  Operating Systems

Step 3: Compute Teaching Statistics

In [ ]:
# Average number of courses per teacher
courses_per_teacher = inner_merge.groupby("teacher_name")["course_id"].count()
avg_courses = courses_per_teacher.mean()

print("Courses per Teacher:\n", courses_per_teacher)
print("\nAverage Courses per Teacher:", avg_courses)

Courses per Teacher:
 teacher_name
Dr. Khan       1
Dr. Mehta      1
Dr. Sharma     3
Prof. Verma    2
Name: course_id, dtype: int64

Average Courses per Teacher: 1.75

Step 4: Group by Department

In [ ]:
# Department-wise workload (total courses taught)
dept_workload = inner_merge.groupby("department")["course_id"].count()

# Find department with maximum workload
max_dept = dept_workload.idxmax()
max_dept_courses = dept_workload.max()

print("Department Workload:\n", dept_workload)
print("\nDepartment with highest workload:", max_dept, "with", max_dept_courses, "courses")

Department Workload:
 department
Computer Science    4
Mathematics         2
Physics             1
Name: course_id, dtype: int64

Department with highest workload: Computer Science with 4 courses